{% extends "base.html" %}

{% block windowtitle %}{{ page.title }}{% endblock %}

{% block title %} {% endblock %}
{% block content %}
<section id="content" class="body span10 page">
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a>{% endif %}
    {{ page.content }}

    <!-- Begin MailChimp Signup Form --> 
    <div id="mc_embed_signup">
    <form action="http://ldinh.us7.list-manage1.com/subscribe/post?u=8ca0c45c82ef713b79a588f83&amp;id=4de59dd00f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h3>Subscribe to Python Practice Projects</h3>
        Don't want to miss out on project kit releases? Enter your email below to join our growing list of Python Practitioners.
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>
    <!--End mc_embed_signup-->

</section>
{% endblock %}
