{% extends "base.html" %}

{% block windowtitle %}{{ page.title }}{% endblock %}

{% block title %} {% endblock %}
{% block content %}
<section id="content" class="body span10 page">
    <h1 class="content-title">{{ page.title }}</h1>
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a>{% endif %}
    {{ page.content }}
	<hr />
    Like what you just read? <a href="{{ EMAIL_SUBSCRIBE_URL }}">Subscribe to Python Practice Projects</a> for more insights on practice, programming and the slow path to victory.
</section>
{% endblock %}
